/.agents/
/.codex/

/prj/work/
/prj/generated/
/sim/work/
/logs/*
/log/
/scripts/configuration_tcl.log

/modelsim.ini
/transcript
/vsim.wlf
*.pds
*.wlf
*.sfc
*.adf
*.eadf
*.prr
*.sdf
*.vm
*.vcd
*.bak

/prj/*.sbit
/prj/*.bin

